{% extends 'users/base.html' %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <img src="{{ user.profile_pic.url }}" alt="error" width="150" height="150" style='float:right'>
  <p>username:{{ user.username }}</p>
  <p>Age:{{ user.age }}</p>
  <p>Email:{{ user.email }}</p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a><br>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
